<div class="left-side-wrapper collapse" id="left-side">
  <div class="search-wrapper">
    <form id="search-form">
      <input type="text" placeholder="Search" id="search-bar"/>
    </form>
  </div>
  <ul class="side">
    <li id='library-toggle'>Song Library</li>

    <li id="channel-toggle">
      Channels
      <span id="channel-carat-down" class="fa fa-caret-down"></span>
      <span id="channel-carat-up" class="fa fa-caret-up"></span>
    </li>

    <li id="channel-list" class="scroll-container">
    </li>

    <li id="playlist-toggle">
      Playlists
      <span id="playlist-carat-down" class="fa fa-caret-down"></span>
      <span id="playlist-carat-up" class="fa fa-caret-up"></span>
    </li>

    <li id="add-playlist">
      <form id="add-playlist-form">
        <span id="add-playlist-btn">+ Add Playlist</span><br>
        <input type="text" id="add-playlist-input" name="text" />
      </form>
    </li>

    <li id="playlist-list">
    </li>

    <li id="scplaylist-toggle">
      SC Playlists
      <span id="scplaylist-carat-down" class="fa fa-caret-down"></span>
      <span id="scplaylist-carat-up" class="fa fa-caret-up"></span>
    </li>

    <li id="scplaylist-list">
    </li>

    <li id="download-toggle">
      Need To Download
    </li>

    <li id="deleted-toggle" class="text-danger">
      Deleted Tracks
    </li>

    <li id="queue-link">Queue</li>
  </ul>
</div>
<ul class="header">
    <li>
        <ol class="col-sizeable">
            <li class="col-header text-center channel" data-sort='c.properties.name'>
                <a data-also-resize="channel" class="dark">Channel</a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
            <li class="col-header text-center title" data-sort='t.properties.name'>
                <a data-also-resize="title" class="dark">Title</a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
            <li class="col-header text-center date" data-sort='t.properties.created_at'>
                <a data-also-resize="date" class="dark">Date Created</a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
            <li class="col-header text-center genre" data-sort='t.properties.genre'>
                <a data-also-resize="genre" class="dark">Genre</a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
            <li class="col-header text-center duration" data-sort='t.properties.duration'>
                <a data-also-resize="duration" class="dark">Duration</a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
            <li class="col-header text-center liked" data-sort='r.properties.created_at'>
                <a data-also-resize="liked" class="dark">Date Liked</a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
            <li class="col-header text-center playcount" data-sort='r.properties.play_count'>
                <a data-also-resize="playcount" class="dark">Play Count</a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
            <li class="col-header text-center rating" data-sort='r.properties.rating'>
                <a data-also-resize="rating" class="dark">Rating</a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
            <li class="col-header text-center domain" data-sort='t.properties.purchase_url_domain'>
                <a data-also-resize="domain" class="dark">Domain</a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
            <li class="col-header text-center downloaded" data-sort='r.properties.downloaded'>
                <a data-also-resize="downloaded" class="dark"><i style="height:1em; width:1em;display:inline-block;background-image:url(/images/sc_icons/download.svg);"></i></a>
                <span class="fa fa-caret-down hidden"></span>
                <span class="fa fa-caret-up hidden"></span>
        </ol>
</ul>

<div class="library-wrapper">
    <table cellpadding="0" cellspacing="0" id="lib-view" style="clear:both;">
        <ul class="list">
            <li class="track-row" ng-repeat="track in display" data-url="{{track.t.properties.purchase_url}}" data-track="{{track}}" data-id="{{track.t._id}}" data-purchase="{{hasPurchaseUrl(track)}}">
                <!--td >x</td-->
                <ol>
                    <li class="channel" ng-bind="track.c.properties.name">
                    <li class="title" ng-bind="track.t.properties.name">
                    <li class="date" ng-bind="formatDate(track.t.properties.created_at)">
                    <li class="genre" ng-bind="track.t.properties.genre">
                    <li class="duration" ng-bind="convertTime(track.t.properties.duration)">
                    <li class="liked" ng-bind="formatDate(track.r.properties.created_at)">
                    <li class="playcount" ng-bind="track.r.properties.play_count">
                    <li class="rating" ng-click="$event.stopPropagation()">
                      <fieldset class="stars">
                        <!-- <legend>Please rate:</legend> -->
                        <input type="radio" id="star5-{{$index}}" name="rating-{{$index}}" value="5" ng-model="track.r.properties.rating"/><label for="star5-{{$index}}"></label>
                        <input type="radio" id="star4-{{$index}}" name="rating-{{$index}}" value="4" ng-model="track.r.properties.rating"/><label for="star4-{{$index}}"></label>
                        <input type="radio" id="star3-{{$index}}" name="rating-{{$index}}" value="3" ng-model="track.r.properties.rating"/><label for="star3-{{$index}}"></label>
                        <input type="radio" id="star2-{{$index}}" name="rating-{{$index}}" value="2" ng-model="track.r.properties.rating"/><label for="star2-{{$index}}"></label>
                        <input type="radio" id="star1-{{$index}}" name="rating-{{$index}}" value="1" ng-model="track.r.properties.rating"/><label for="star1-{{$index}}"></label>
                      </fieldset>
                    <li class="domain" ng-click="$event.stopPropagation()">
                        <a ng-click="openPurchaseUrl(track)">
                          {{track.t.properties.purchase_url_domain}}
                        </a>
                    <li class="downloaded" style="height:100%" ng-click="$event.stopPropagation()">
                      <input type="checkbox" class="dwnld" ng-checked="track.r.properties.downloaded"></input>
                </ol>
        </ul>
    </table>
</div>
