<!-- Quick Alert -->
<div class="bb-alert alert alert-info" style="display: none;">
    <span>&nbsp;</span>
</div>
<!-- Modal Dialogues -->
<!-- Modal -->
<div class="modal fade" id="set-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>User Settings</h4>
            </div>
            <div class="modal-body">
                <form role="form">

                    <a class="btn btn-default pull-right" href="/logout/">Logout</a>
                    <p>
                        <a href="javascript:toggleAuto();" id="autoplay-toggle" class="toggled"></a><a href="javascript:toggleAuto();"> Autoplay</a>
                    </p>
                    <p>
                        <a href="javascript:toggleShuffle();" id="shuffle-toggle"></a><a href="javascript:toggleShuffle();"> Shuffle</a>
                    </p>
                    <p>
                        <a href="javascript:toggleAutocheck();" id="autocheck-toggle"></a><a href="javascript:toggleAutocheck();"> Autocheck</a>
                    </p>
                    <p class="text-center">
                        <a onclick="updateCollection();" class="btn">Update Library</a>
                    </p>
                    <p class="text-center" id="updatingMessage">
                        Collection updating...
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <p><a>More settings...</a></p>
                <p>Forgot <a href="#">Password?</a></p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="play-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content play-modal text-center">
            <i class="icon-uEA10-play"></i>
        </div>
    </div>
</div>
<div class="modal fade" id="pause-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content pause-modal text-center">
            <i class="icon-uEA0D-pause"></i>
        </div>
    </div>
</div>
<!-- End Modals -->

<div id="player" style="filter: blur(10px);">
    <!-- Top wrapper area, contains toggle/setting buttons, genres -->

    <div id="top-wrapper">
        <a class="pull-left" id="sidebar-toggle" data-toggle="collapse" data-target="#left-side"><i class="icon-uEA0A-menu"></i></a>
        <a class="pull-right" id="settings-toggle" data-toggle="modal" href="#set-modal"><i class="icon-uEA09-gear"></i></a>
        <div class="text-center collapse" id="littleloader">
            <svg width="120" height="20" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#fff">
              <circle cx="15" cy="15" r="15" id='ll1'>
                  <!-- <animate attributeName="r" from="15" to="15"
                           begin="0s" dur="0.8s"
                           values="15;9;15" calcMode="linear"
                           repeatCount="indefinite" />
                  <animate attributeName="fill-opacity" from="1" to="1"
                           begin="0s" dur="0.8s"
                           values="1;.5;1" calcMode="linear"
                           repeatCount="indefinite" /> -->
              </circle>
              <circle cx="60" cy="15" r="15" fill-opacity="0.3" id='ll2'>
                  <!-- <animate attributeName="r" from="9" to="9"
                           begin="0s" dur="0.8s"
                           values="9;15;9" calcMode="linear"
                           repeatCount="indefinite" />
                  <animate attributeName="fill-opacity" from="0.5" to="0.5"
                           begin="0s" dur="0.8s"
                           values=".5;1;.5" calcMode="linear"
                           repeatCount="indefinite" /> -->
              </circle>
              <circle cx="105" cy="15" r="15" id='ll3'>
                  <!-- <animate attributeName="r" from="15" to="15"
                           begin="0s" dur="0.8s"
                           values="15;9;15" calcMode="linear"
                           repeatCount="indefinite" />
                  <animate attributeName="fill-opacity" from="1" to="1"
                           begin="0s" dur="0.8s"
                           values="1;.5;1" calcMode="linear"
                           repeatCount="indefinite" /> -->
              </circle>
          </svg>
        </div>
    </div>

    <!-- Main wrapper area, contains artwork, title, channel, and prev/next buttons -->
    <div class="player-main-wrapper">
        <div class="container">
            <a class="pull-left" id="prev-song" href="javascript:previousSong();">
                <i class="icon-uEA04-caret-left"></i>
            </a>
            <div class="col-sm-12">
                <!-- Artwork gets loaded in as a background image here -->
                <div id="artworkimg"></div>
                <span class="track-title">&nbsp;</span>
                <span class="track-channel">&nbsp;</span>
            </div>
            <a class="pull-right" id="next-song" href="javascript:nextSong();">
                <i class="icon-uEA05-caret-right"></i>
            </a>
        </div>
    </div>
    <!-- used to darken background art -->
    <div id="back-div"></div>
    <div id="art-bk"></div>
    <div id="total-bar"></div>
    <div class="charts" id="wf_box"></div>

    <!-- // draggable bar for resizing -->
    <div class="drag-bar text-center down" style="
        width: 100vw;
        position: absolute;
        top: calc(100% - 40px);
        z-index: 1000;
        opacity: 0.8;
        color: #fff;
        font-size: 40px;
    "><i class="icon-uEA03-caret-down" div="">
    </i></div>
</div>


<div id="library" style="filter: blur(10px);" ng-app="Library">
    <library id="libraryCtlrDiv" ng-controller="LibraryCtlr">
    </library>
</div>

<script type="text/javascript">
    var client_id = JSON.parse('{{{json client_id}}}');
    var loggedinuser = JSON.parse('{{{json user}}}');
</script>

<!-- <script src="/bower_components/jquery-ui/ui/widget.js"></script>
<script src="/bower_components/jquery-ui/ui/widgets/mouse.js"></script>
<script src="/bower_components/jquery-ui/ui/widgets/resizable.js"></script> -->


<!-- include basket loader -->
<!-- <script src="/bower_components/rsvp.js/rsvp.js"></script> -->
<script src="/bower_components/basket-css-example/lib/create-stylesheet.unwrapped-0.2.1.js"></script>
<script src="/bower_components/basket.js/dist/basket.full.min.js"></script>

<!-- add localStorage caching with baskets.js  -->
<script type="text/javascript">
    // logic to later be used to track front-end user errors
    window.onerror = function(errorMessage, errorUrl, errorLine) {

    }

    // TODO remove this

    // basket.clear();

    // CSS Requires

    var maincss = {
            url: "/stylesheets/sclibrary.min.css",
            execute: false
        },

        bs = {
            url: "/bower_components/bootstrap/dist/css/bootstrap.min.css",
            execute: false
        },

        jq_ui = {
            url: "/bower_components/jquery-ui/themes/smoothness/jquery-ui.css",
            execute: false
        },

        cm = {
            url: "/stylesheets/jquery.contextMenu.css",
            execute: false
        };

    // JS Requires

    var jquery = {
            // jquery
            url: '/bower_components/jquery/dist/jquery.min.js'
        },

        angular = {
            url: '/bower_components/angular/angular.min.js',
            key: 'angular'
        },

        d3 = {
            url: '/bower_components/d3/d3.min.js'
        },

        contextMenu = {
            url: '/bower_components/jQuery-contextMenu/dist/jquery.contextMenu.min.js'
        },

        bootbox = {
            url: '/bower_components/bootbox.js/bootbox.js'
        },

        arrive = {
            url: '/bower_components/arrive/minified/arrive.min.js'
        },

        library = {
            url: '/js/library.min.js'
        };

    var requireCSS = function(responses) {
        var css = responses[0].data;
        _stylesheet.appendStyleSheet(css, function(err, style) {
            if (err) {
                console.error(err);
            } else {}
        });
    }

    // start basket localStorage require chain
    // our main css file
    basket.require(maincss).then(requireCSS)

    // .then(function() {
    //     basket.require(bs).then(requireCSS);
    // })

    .then(function() {
        basket.require(cm).then(requireCSS);
    })

    // jquery, arrive.js
    .then(function() {
        basket.require(jquery, arrive).then(function () {

          basket.require(

              // standalone resizable
              {
                url: '/bower_components/jquery-resizable/dist/jquery-resizable.js'
              },

              // Bootstrap js
              {
                  url: '/bower_components/bootstrap/js/modal.js'
              }, {
                  url: '/bower_components/bootstrap/js/collapse.js'
              },

              bootbox,

              // position type for context menu
              {
                  url: '/bower_components/jQuery-contextMenu/dist/jquery.ui.position.min.js'
              },

              contextMenu,
              d3
          );
        },
        function (err) {
          console.error(err);
        })
        // TODO remove most of this block after angular is gone
        // angular
        .then(function() {
            basket.require(angular)
                .then(function() {
                    // get angular going
                    var app = angular.module("Library", []);

                    basket.require(library)
                        .then(function() {
                            angular.bootstrap(document, ['Library']);

                            setWidth();

                            // everything's loaded


                            // when we get the first 100 tracks, remove the loader
                            $('library').arrive(".track-row", function() {
                                $('#player,#library').css('filter', 'blur(0px)');
                                $('.l-wrapper').hide();

                            });
                        });
                });
        }, function(err) {
            console.log(err);
        });
    });


</script>
